.subprofile{
    margin: $m-size;
    border: 1px solid $light-gray;
    border-radius: $xs-size;
    background: $white;
    min-width: 750px;
    min-height: 130px;
    text-align: left;

    .gigya-screen.portrait {
        padding-left: 40px;
    }
}

.subprofileNext {
  @extend .subprofile;
  margin-top: 1rem;

  #personalinfophonesecondary {
    margin-top: -5rem;
  }

  .aetna-top-border {
    width: 700px;
  }
}