.subprofile{
    margin: $m-size;
    border: 1px solid $light-gray;
    border-radius: $xs-size;
    background: $white;
    min-width: 750px;
    min-height: 130px;
    text-align: left;
}

.subprofileNext {
  @extend .subprofile;
  margin-top: 1rem;
}

// .loginContainer {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-items: flex-start;
//     margin-left: 1rem;
//     max-width: 100rem;

//     #login {
//         @extend .subprofile;
//         margin: 0 auto;

//         #gigya-login-screen {
//             margin: 0 auto;
//         }
//     }
// }