//Colors

$white: #ffffff;
$dark-gray: #333333;
$light-gray: #e7e9ea;
$off-white: #fafbfc;
$purple: #7d3f98;

//Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
